html ,body{
   width:100%;
   height:100%;
   margin:0px;
   padding:0px;
   overflow-x: hidden;
}
body{
   background-color: black;
}
.nav ul li  {
  display:inline-block;
 list-style:none;
  margin:10px 20px 30px;
  font-size:18px;
  color:white;
}
.nav ul li a {
color:white;
font-size:18px;
text-decoration: none;
position: relative;
}
.nav ul li a::after{
content:"";
width:0;
height:3px;
background: red;
position: absolute;
bottom:-6px;
left:0px;
transition: 0.5s;
}
.nav ul li a:hover::after{
width:100%;
}
.form{
   display:flex;
   flex-direction: column;
   color:white;
}
.form input{
   border-radius:10px;
   width:300px;
   margin:0px auto;
   padding:8px 4px;
}
.form label{
  position:relative;
  left: 617px;
  padding:8px 4px;
}
.container h1{
  position:relative;
  left:617px;
 }
 .container p{
  position:relative;
  left:580px;
 }

.registerbtn{
  color:black;
   width:100%;
   height:30px;
}
.end{
   color:white;
}
.bus{
   padding:8px 4px;
}
.drop{
   color:white;
   display:flex;
   flex-direction: column;
   position:relative;
   top:20px;
   left:614px;
}